 header {
     border: 5px solid aliceblue;
     border-radius: 10px;
     margin-bottom: inherit;
     background-color: midnightblue;
     padding: 1.5em;
 }

 h1 {
     text-align: center;
 }

 h2 {
     text-align: center;
     font-size: 28px;
 }

 body {
     background-color: lightblue;
     color: aliceblue;
 }

 ul {
     font-size: 20px;

 }

 li {
     font-weight: bold;
     font-size: 22px;
 }

 table {
     font-size: 20px;
     width: 100%;
     table-layout: fixed;
     padding: 30px;
     border: 4px solid midnightblue;
     border-radius: 35px 10px / 20px 10px;
     text-align: center;
 }

 a {
     color: midnightblue;
     font-size: 20px;
     font-weight: normal;
 }

 th {
     font-size: 25px;
     font-weight: bold;
 }

 div {
     text-align: center;
 }

 hr {
     border: 1px solid aliceblue;
     background-color: aliceblue;
     color: aliceblue;
     height: 1px;
 }

 footer {
     margin: -100px auto 0;
     width: inherit;
     height: 100px;
     background: red;
     position: relative;
     
 }
