* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

main {

    min-height: calc(121vh - 40vh);
    background-color: #444;
    color: aliceblue;
}

section {
    flex: 1;
}

header,
footer,
main {
    padding: 1px;
}

header {
    background: powderblue;
    text-align: center;
    color: aliceblue;
}

footer {
    background: #444;
    height: 6vh;
    text-align: center;
    color: powderblue;
    padding-top: 2px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
}

ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0;
    list-style: none;
}

.menu-item {
    background: #444;
    padding: 1em 0.5em;
    position: relative;
    border-bottom: 5px solid midnightblue;
    margin: 0 2px;
    transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
    cursor: pointer;
    min-width: 8em;
    text-align: center;
}

.menu-item[aria-haspopup="true"] {
    border-bottom-color: midnightblue;
}

.menu-item:hover,
.menu-item:focus-within {
    border-bottom-color: powderblue;
    background: aliceblue;
}

.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu:hover,
.menu-item:focus-within .sub-menu,
.menu-item:focus-within .sub-menu:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.sub-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    margin-top: 1em;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.sub-menu .menu-item {
    margin: 0.1em 0;
    padding: 1em;
    width: inherit;
    text-align: center;
    z-index: 2;
}

header nav a {
    color: powderblue;
    text-decoration: none;
    text-transform: uppercase;
}

footer a {
    text-decoration: underline;
    color: aliceblue
}

main nav {
    margin: 10px;
    float: left;
    background-color: inherit;
    text-align: center;
}

main nav ul {
    list-style-type: none;
}

main nav ul li {
    padding: 1em;
    width: 220px;
    margin: 10px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px gray;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}

.centered {
    text-align: center;
}

.none {
    text-align: end;
    margin-right: 30px;
    position: relative; top: -130px;
    
    
}
