html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #23415c;
    padding: 1% 0;
    padding-right: 10px;
}

.navbar-brand {
    max-height: 32px;
    padding: 0 15px 25px;
    padding-left: 4px;
    color: #FFF;
}

.nav-img {
    width: 40%;
}

.navbar-light .navbar-nav .nav-link {
    color: #D5D5D5;
    padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #FFF;
}

@media (max-width: 991px) {
    .navbar-brand {
        min-height: 42px;
    }
}

.navbar-toggler {
    border: 1px white solid;
    margin-left: 8px;
    float: right;
}

.navbar-toggler:hover {
    border-radius: 6px;
    background-color: #D5D5D5;
}

#home {
    background: url(images/haiti-background.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    font-family: "Times New Roman", serif;
    font-size: 105%;
    display: 
}

#about {
    background: url(images/aboutbackground.jpg) no-repeat center center fixed;
    color:#FFF;
    display: table-cell;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

p {
    font-weight: bold;
}
main div img {
    width:45%;
    max-height: 55%;
}

main div h1 {
    margin-top: 50px;
}
.shadow {
    color: #23415c;
  text-shadow: 2px 2px 4px;
}

.bold {
    font-weight: bold;
    font-size: 40px;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

#fixed {
    background: url(img/background.jpg) no-repeat center center fixed;
    display: table;
    height: 60;
    position: relative;
    width: 100%;
    background-size: cover;
}

.footer {
    width: 100%;
    background-color: inherit;
    color: #23415c;
    border-top: 1px solid #D5D5D5;
    margin-top: 4em;
    padding-top: 20px;
}

.padding {
    padding: 0px 200px;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF
}

.fa:hover {
    color: #D5D5D5;
    text-decoration: none;
}

.btn {
    border: 2px solid #23415c;
    color: #23415c;
    padding-top: 5px;
    border-radius: 20px
}

.btn:hover {
    background-color: #D5D5D5;
    color: #23415c;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.img {
    float: right;
    opacity: 75%;
    padding-top: 15px;
    margin-right: 10px;
}

/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
