body {
    background-color: antiquewhite;
    color: midnightblue;
}

h1 {
    text-align: center;
    border: 3px solid midnightblue;
    border-radius: 10px 10px / 10px 10px;
    background-color: floralwhite;
    color: crimson;
}

ul {
    font-size: 25px;
    font-weight: bold;
}

a {
    color: midnightblue;
    font-size: 20px;
}
