body {
    border: dashed 1px blue;
    padding: 10px;
    margin: 50px;
    font-family: courier;
    font-weight: bold;
}

body {
    border: solid 3px black;
    background-color: black;
}

header {
    border: solid 3px black;
    border-radius: 10px 10px / 10px 10px;
    background-color: gainsboro;
    margin-bottom: inherit;
}

footer {
    border: solid 3px black;
    background-color: black;
    text-align: center;

}

main {
    border: solid 3px black;
    background-color: lightgoldenrodyellow;
    border-radius: 10px 10px / 10px 10px;
}

h1 {
    color: black;
    font-size: 400%;
    text-align: center;
}

header h2 {
    text-align: center;
}

aside {
    float: right;
    border: solid 1px black;
    background-color: gainsboro;
    margin-right: 8px;
    box-shadow: 2px 2px 4px gray;
    padding: 8px;
    padding-right: 290px;
}

a {
    color: gainsboro;
}

section {
    margin-bottom: 150px
}
