h1 {
    text-align: center;
    text-decoration-line: underline;
}

h2 {
    text-align: center;
    font-size: 28px;
}

body {
    background-color: lightblue;
    color: aliceblue;
}

ul {
    font-size: 20px;

}

li {
    font-weight: bold;
    font-size: 22px;
}

table {
    font-size: 20px;
    width: 100%;
    table-layout: fixed;
    padding: 30px;
    border: 4px solid midnightblue;
    border-radius: 35px 10px / 20px 10px;
    text-align: center;
}

a {
    color: midnightblue;
    font-size: 20px;
    font-weight: normal;
}

th {
    font-size: 25px;
    font-weight: bold;
}

div {
    float:left;
}
